how to install packages
!pip install pandas

In [2]:
#import all libraries at top
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

for pkg in [np,pd,mpl]:
    print(f"{pkg.__name__:>20} { pkg.__version__}")

               numpy 1.26.4
              pandas 2.1.4
          matplotlib 3.8.0

#### Series

1D array like object with label indexes

In [3]:
ix = ["Rahul","Simran","Alice"]
marks = [48,67,34]

In [4]:
s = pd.Series(marks,index = ix, name = "Performance")

In [5]:
s

Rahul     48
Simran    67
Alice     34
Name: Performance, dtype: int64

In [6]:
s["Simran"]

67

In [7]:
s[0:3] #normal indexing

Rahul     48
Simran    67
Alice     34
Name: Performance, dtype: int64

In [8]:
s["Rahul":"Simran"]

Rahul     48
Simran    67
Name: Performance, dtype: int64

#### Data Access

s['label'] -> extract single value from series 
s[0:6] -> default indexing
s[lb1:lbn] -> label indexing

s.at[label] -> to extrat single values fastest method available

In [9]:
s.loc[::-1]

Alice     34
Simran    67
Rahul     48
Name: Performance, dtype: int64

In [10]:
s.loc["Simran":]

Simran    67
Alice     34
Name: Performance, dtype: int64

In [11]:
s.iloc[0:3]

Rahul     48
Simran    67
Alice     34
Name: Performance, dtype: int64

In [12]:
s.iloc[::2]

Rahul    48
Alice    34
Name: Performance, dtype: int64

In [26]:
dates = pd.date_range("01-01-2024",periods = 31)
dates
values = np.random.randint(50,100,31)

In [47]:
s4 = pd.Series(values,dates)
s4

2024-01-01    55
2024-01-02    63
2024-01-03    58
2024-01-04    84
2024-01-05    83
2024-01-06    51
2024-01-07    92
2024-01-08    59
2024-01-09    60
2024-01-10    84
2024-01-11    61
2024-01-12    72
2024-01-13    87
2024-01-14    55
2024-01-15    73
2024-01-16    73
2024-01-17    93
2024-01-18    58
2024-01-19    91
2024-01-20    79
2024-01-21    94
2024-01-22    53
2024-01-23    73
2024-01-24    56
2024-01-25    90
2024-01-26    55
2024-01-27    88
2024-01-28    88
2024-01-29    82
2024-01-30    92
2024-01-31    79
Freq: D, dtype: int32

In [48]:
s4.quantile([0.25,0.5,0.75])

0.25    58.5
0.50    73.0
0.75    87.5
dtype: float64

In [49]:
s4.describe()

count    31.000000
mean     73.580645
std      14.732672
min      51.000000
25%      58.500000
50%      73.000000
75%      87.500000
max      94.000000
dtype: float64

In [50]:
s4.std()

14.732671614585925

In [51]:
s4.var()

217.05161290322584

In [52]:
gender = pd.Series(np.random.choice(["Males","Females"],20),name = 'gender')

In [53]:
gender

0     Females
1       Males
2     Females
3       Males
4       Males
5       Males
6     Females
7       Males
8     Females
9     Females
10    Females
11    Females
12    Females
13    Females
14      Males
15    Females
16      Males
17    Females
18    Females
19    Females
Name: gender, dtype: object

In [54]:
np.random.shuffle(ix)
ix

['Rahul', 'Simran', 'Alice']

In [55]:
s2 = pd.Series(np.random.randint(50,100,3))
s2

0    77
1    87
2    72
dtype: int32

In [46]:
s3 = s + s2
s3

2024-01-01 00:00:00   NaN
2024-01-02 00:00:00   NaN
2024-01-03 00:00:00   NaN
2024-01-04 00:00:00   NaN
2024-01-05 00:00:00   NaN
2024-01-06 00:00:00   NaN
2024-01-07 00:00:00   NaN
2024-01-08 00:00:00   NaN
2024-01-09 00:00:00   NaN
2024-01-10 00:00:00   NaN
2024-01-11 00:00:00   NaN
2024-01-12 00:00:00   NaN
2024-01-13 00:00:00   NaN
2024-01-14 00:00:00   NaN
2024-01-15 00:00:00   NaN
2024-01-16 00:00:00   NaN
2024-01-17 00:00:00   NaN
2024-01-18 00:00:00   NaN
2024-01-19 00:00:00   NaN
2024-01-20 00:00:00   NaN
2024-01-21 00:00:00   NaN
2024-01-22 00:00:00   NaN
2024-01-23 00:00:00   NaN
2024-01-24 00:00:00   NaN
2024-01-25 00:00:00   NaN
2024-01-26 00:00:00   NaN
2024-01-27 00:00:00   NaN
2024-01-28 00:00:00   NaN
2024-01-29 00:00:00   NaN
2024-01-30 00:00:00   NaN
2024-01-31 00:00:00   NaN
0                     NaN
1                     NaN
2                     NaN
dtype: float64